# Web Scraping 4:

# Question No 1:

In [1]:
#importing all the required libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [2]:
driver = webdriver.Chrome(r"C:\Users\MI Laptop\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
#Defining the url:
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/"

In [4]:
#Getting the URL:
driver.get(url)

In [5]:
#Creating Empty List:
Rank = []
Name = []
Artist = []
Upload_Date = []
Views = []

In [6]:
#clicking the search button for locating videos:
search_1 = driver.find_element_by_xpath('//*[@id="noarticletext"]/tbody/tr/td/span/a')   
search_1.click()

In [7]:
#clicking the search button for finding page of top youtube videos most viewed:
search_2 = driver.find_element_by_xpath('//*[@id="mw-content-text"]/div[3]/ul/li[1]/div[1]/a')      
search_2.click()

In [8]:
#scraping the tags for Rank:
ranks = driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr/td[1]")

#Using for loop for iterations
#Handling Null Values.
for i in ranks:
    if i.text is None:
        Rank.append(" ") 
    else:
        Rank.append(i.text.replace('\n','').strip())
print(Rank[0:5])

['1.', '2.', '3.', '4.', '5.']

In [9]:
#scraping the tags for names of the video:
videos_name = driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr/td[2]")

#Using for loop for iterations
#Handling Null Values.
for i in videos_name:
    if i.text is None:
        Name.append(" ") 
    else:
        Name.append(i.text.replace('\n','').strip())
print(Name[0:5])

['"Baby Shark Dance"[28]', '"Despacito"[30]', '"Shape of You"[31]', '"See You Again"[32]', '"Johny Johny Yes Papa"[35]']

In [10]:
#scraping the tags for names of the Artist:
artist_name = driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr/td[3]")

#Using for loop for iterations
#Handling Null Values.
for i in artist_name:
    if i.text is None:
        Artist.append(" ") 
    else:
        Artist.append(i.text.replace('\n','').strip())
print(Artist[0:5])

["Pinkfong Kids' Songs & Stories", 'Luis Fonsi featuring Daddy Yankee', 'Ed Sheeran', 'Wiz Khalifa featuring Charlie Puth', 'LooLoo Kids']

In [11]:
#scraping the tags for video upload date:
videos_upload_date = driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr/td[5]")

#Using for loop for iterations
#Handling Null Values.
for i in videos_upload_date:
    if i.text is None:
        Upload_Date.append(" ") 
    else:
        Upload_Date.append(i.text.replace('\n','').strip())
print(Upload_Date[0:5])

['June 17, 2016', 'January 12, 2017', 'January 30, 2017', 'April 6, 2015', 'October 8, 2016']

In [12]:
#scraping the tags for views count:
views_count = driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr/td[4]")

#Using for loop for iterations
#Handling Null Values.
for i in views_count:
    if i.text is None:
        Views.append(" ") 
    else:
        Views.append(i.text.replace('\n','').strip())
print(Views[0:5])

['7.91', '7.20', '5.18', '4.96', '4.77']

In [14]:
#Defing a Dataframe:
Youtube_Video = pd.DataFrame([])
Youtube_Video['Rank'] = Rank
Youtube_Video['Video Title'] = Name
Youtube_Video['Artist'] = Artist
Youtube_Video['Upload_Date'] = Upload_Date
Youtube_Video['Views In Bllion'] = Views
Youtube_Video.head(10)

,Rank,Video Title,Artist,Upload_Date,Views In Bllion
0,1.,"""Baby Shark Dance""[28]",Pinkfong Kids' Songs & Stories,"June 17, 2016",7.91
1,2.,"""Despacito""[30]",Luis Fonsi featuring Daddy Yankee,"January 12, 2017",7.20
2,3.,"""Shape of You""[31]",Ed Sheeran,"January 30, 2017",5.18
3,4.,"""See You Again""[32]",Wiz Khalifa featuring Charlie Puth,"April 6, 2015",4.96
4,5.,"""Johny Johny Yes Papa""[35]",LooLoo Kids,"October 8, 2016",4.77
5,6.,"""Masha and the Bear ‚Äì Recipe for Disaster""[36]",Get Movies,"January 31, 2012",4.41
6,7.,"""Uptown Funk""[37]",Mark Ronson featuring Bruno Mars,"November 19, 2014",4.09
7,8.,"""Gangnam Style""[38]",Psy,"July 15, 2012",3.97
8,9.,"""Learning Colors ‚Äì Colorful Eggs on a Farm""[40]",Miroshka TV,"February 27, 2018",3.69
9,10.,"""Bath Song""[41]",Cocomelon ‚Äì Nursery Rhymes,"May 2, 2018",3.64

# Question No 2:

In [42]:
driver = webdriver.Chrome(r"C:\Users\MI Laptop\Downloads\chromedriver_win32\chromedriver.exe")

In [43]:
url_1 = "https://www.bcci.tv/international/fixtures"

In [44]:
driver.get(url_1)

In [45]:
#Creating Empty List:
Team = []
Ground = []
Test_ODI = []

In [46]:
#scraping the tags for Teams name playing against India:
team_names = driver.find_elements_by_xpath("//div[@class='fixture__teams']")

#Using for loop for iterations
#Handling Null Values.
for i in team_names:
    if i.text is None:
        Team.append(" ") 
    else:
        Team.append(i.text.replace('\n','').strip())
print(Team[0:10])

['INDIAvENGLAND', 'INDIAvENGLAND', 'INDIAvENGLAND', 'INDIAvENGLAND', 'INDIAvENGLAND', 'INDIAvENGLAND', 'INDIAvENGLAND', 'INDIAvENGLAND', 'INDIAvENGLAND', 'INDIAvENGLAND']

In [50]:
#scraping the tags for Ground Name:
ground_name = driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")

#Using for loop for iterations
#Handling Null Values.
for i in ground_name:
    if i.text is None:
        Ground.append(" ") 
    else:
        Ground.append(i.text.replace('\n','').strip())
print(Ground[0:10])

['M. A. Chidambaram Stadium, Chennai', 'Sardar Patel Stadium, Ahmedabad', 'Sardar Patel Stadium, Ahmedabad', 'Sardar Patel Stadium, Ahmedabad', 'Sardar Patel Stadium, Ahmedabad', 'Sardar Patel Stadium, Ahmedabad', 'Sardar Patel Stadium, Ahmedabad', 'Sardar Patel Stadium, Ahmedabad', 'Maharashtra Cricket Association Stadium, Pune', 'Maharashtra Cricket Association Stadium, Pune']

In [51]:
#scraping the tags for test and ODI:
matches = driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/strong")

#Using for loop for iterations
#Handling Null Values.
for i in matches:
    if i.text is None:
        Test_ODI.append(" ") 
    else:
        Test_ODI.append(i.text.replace('\n','').strip())
print(Test_ODI[0:10])

['2nd Test', '3rd Test', '4th Test', '1st T20I', '2nd T20I', '3rd T20I', '4th T20I', '5th T20I', '1st ODI', '2nd ODI']

In [55]:
#Defing a Dataframe:
International_Fixtures=pd.DataFrame([])
International_Fixtures['Team'] = Team[0:10]
International_Fixtures['Series'] = Test_ODI[0:10]
International_Fixtures['Ground'] = Ground[0:10]
International_Fixtures.head(10)

            Team    Series                                         Ground
0  INDIAvENGLAND  2nd Test             M. A. Chidambaram Stadium, Chennai
1  INDIAvENGLAND  3rd Test                Sardar Patel Stadium, Ahmedabad
2  INDIAvENGLAND  4th Test                Sardar Patel Stadium, Ahmedabad
3  INDIAvENGLAND  1st T20I                Sardar Patel Stadium, Ahmedabad
4  INDIAvENGLAND  2nd T20I                Sardar Patel Stadium, Ahmedabad
5  INDIAvENGLAND  3rd T20I                Sardar Patel Stadium, Ahmedabad
6  INDIAvENGLAND  4th T20I                Sardar Patel Stadium, Ahmedabad
7  INDIAvENGLAND  5th T20I                Sardar Patel Stadium, Ahmedabad
8  INDIAvENGLAND   1st ODI  Maharashtra Cricket Association Stadium, Pune
9  INDIAvENGLAND   2nd ODI  Maharashtra Cricket Association Stadium, Pune

# Question No 3:

In [56]:
driver = webdriver.Chrome(r"C:\Users\MI Laptop\Downloads\chromedriver_win32\chromedriver.exe")

In [57]:
url_2 = "https://www.guru99.com/exception-handling-selenium.html"

In [58]:
driver.get(url_2)

In [59]:
#Creating Empty List:
exception = []
description = []

In [60]:
#scraping the tags for exception:
exception_name = driver.find_elements_by_xpath("/html/body/div[2]/section[3]/div/div[1]/main/div[1]/div/div/div/div/div/div[2]/table/tbody/tr/td[1]")

#Using for loop for iterations
#Handling Null Values.
for i in exception_name:
    if i.text is None:
        exception.append(" ") 
    else:
        exception.append(i.text.replace('\n','').strip())
print(exception[0:10])

['Exception name', 'ElementNotVisibleException', 'ElementNotSelectableException', 'NoSuchElementException', 'NoSuchFrameException', 'NoAlertPresentException', 'NoSuchWindowException', 'StaleElementReferenceException', 'SessionNotFoundException', 'TimeoutException']

In [61]:
#scraping the tags for description:
description_name = driver.find_elements_by_xpath("/html/body/div[2]/section[3]/div/div[1]/main/div[1]/div/div/div/div/div/div[2]/table/tbody/tr/td[2]")

#Using for loop for iterations
#Handling Null Values.
for i in description_name:
    if i.text is None:
        description.append(" ") 
    else:
        description.append(i.text.replace('\n','').strip())
print(description[0:10])

['Description', 'This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.', 'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.', 'This Exception occurs if an element could not be found.', 'This Exception occurs if the frame target to be switched to does not exist.', 'This Exception occurs when you switch to no presented alert.', 'This Exception occurs if the window target to be switch does not exist.', 'This Selenium exception occurs happens when the web element is detached from the current DOM.', 'The WebDriver is acting after you quit the browser.', "Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn't found in the specified time."]

In [63]:
#Defining a Dataframe:
selenium = pd.DataFrame([])
selenium['Exception'] = exception
selenium['Description'] = description
selenium.head(10)

,Exception,Description
0,Exception name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...

# Question No 5:

In [125]:
driver = webdriver.Chrome(r"C:\Users\MI Laptop\Downloads\chromedriver_win32\chromedriver.exe")

In [126]:
url_3 = "https://github.com/"

In [127]:
driver.get(url_3)

In [128]:
#Creating Empty List:
Repository_Name =[]
Language = []
Description = []
Muted_Link = []

In [129]:
#clicking the search button for locating explore:
search_1 = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details')     
search_1.click()

In [130]:
#clicking the search button for locating page:
search_2 = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]')    
search_2.click()

In [131]:
#scraping the tags for repository name:
repository = driver.find_elements_by_xpath("//span[@class='text-normal']")

#Using for loop for iterations
#Handling Null Values.
for i in repository:
    if i.text is None:
        Repository_Name.append(" ") 
    else:
        Repository_Name.append(i.text.replace('/','').strip())
print(Repository_Name[0:10])

['Melvin-Abraham', 'benawad', 'flameshot-org', 'ratfactor', 'adityatelange', 'libsdl-org', 'satwikkansal', 'mbround18', 'deepmind', 'TheAlgorithms']

In [132]:
#scraping the tags for Language:
language = driver.find_elements_by_xpath("//span[@itemprop='programmingLanguage']")

#Using for loop for iterations
#Handling Null Values.
for i in language:
    if i.text is None:
        Language.append(" ") 
    else:
        Language.append(i.text.replace('/','').strip())
print(Language[0:10])

['JavaScript', 'TypeScript', 'C++', 'Zig', 'HTML', 'C', 'Python', 'Rust', 'Jupyter Notebook', 'Java']

In [133]:
#scraping the tags for description:
description = driver.find_elements_by_xpath("//p[@class='col-9 text-gray my-1 pr-4']")

#Using for loop for iterations
#Handling Null Values.
for i in description:
    if i.text is None:
        Description.append(" ") 
    else:
        Description.append(i.text.replace('/','').strip())
print(Description[0:10])

['A cross-platform unofficial Google Assistant Client for Desktop (powered by Google Assistant SDK)', 'The home for voice conversations.', 'Powerful yet simple to use screenshot software üñ•Ô∏è üì∏', 'Learn the Zig programming language by fixing tiny broken programs.', 'A fast, clean, responsive Hugo theme', 'Simple Directmedia Layer', 'What the f*ck Python? üò±', 'Valheim Docker server with Odin the CLI tool.', 'This repository contains implementations and illustrative code to accompany DeepMind publications', 'All Algorithms implemented in Java']

In [134]:
#scraping the tags for muted link:
muted_link = driver.find_elements_by_xpath("//a[@class='muted-link d-inline-block mr-3']")

#Using for loop for iterations
#Handling Null Values.
for i in muted_link:
    if i.text is None:
        Muted_Link.append(" ") 
    else:
        Muted_Link.append(i.text.replace('/','').strip())
print(Muted_Link[0:10])

['927', '50', '1,048', '113', '8,976', '597', '460', '19', '807', '245']

In [135]:
#Fetching Muted_star:
Muted_Star=[]
for i in range(0,len(Muted_Link),2):
    Muted_Star.append(Muted_Link[i])
    
print(Muted_Star[0:10])

['927', '1,048', '8,976', '460', '807', '695', '25,144', '158', '5,416', '35,120']

In [137]:
#Defining a Dataframe:
Trending_Repository = pd.DataFrame([])
Trending_Repository['Name'] = Repository_Name[0:10]
Trending_Repository['Description'] = Description[0:10]
Trending_Repository['Language']=Language[0:10]
Trending_Repository['Muted_Star'] = Muted_Star[0:10]
Trending_Repository.head(10)

,Name,Description,Language,Muted_Star
0,Melvin-Abraham,A cross-platform unofficial Google Assistant C...,JavaScript,927
1,benawad,The home for voice conversations.,TypeScript,"1,048"
2,flameshot-org,Powerful yet simple to use screenshot software...,C++,"8,976"
3,ratfactor,Learn the Zig programming language by fixing t...,Zig,460
4,adityatelange,"A fast, clean, responsive Hugo theme",HTML,807
5,libsdl-org,Simple Directmedia Layer,C,695
6,satwikkansal,What the f*ck Python? üò±,Python,"25,144"
7,mbround18,Valheim Docker server with Odin the CLI tool.,Rust,158
8,deepmind,This repository contains implementations and i...,Jupyter Notebook,"5,416"
9,TheAlgorithms,All Algorithms implemented in Java,Java,"35,120"

# Question No 6:

In [168]:
driver = webdriver.Chrome(r"C:\Users\MI Laptop\Downloads\chromedriver_win32\chromedriver.exe")

In [155]:
url_4 = "https://www.billboard.com/"

In [156]:
driver.get(url_4)

In [157]:
Song_Name = []
Singer = []
Rank = []
Last_Week = []
Weeks_on_board = []

In [158]:
#clicking the search button for locating top 100:
search_1 = driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[2]/nav/ul/li[3]')     
search_1.click()

In [159]:
#scraping the tags for rank:
rank = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")

#Using for loop for iterations
#Handling Null Values.
for i in rank:
    if i.text is None:
        Rank.append(" ") 
    else:
        Rank.append(i.text.replace('/','').strip())
print(Rank[0:10])

['1', '1', '1', '2', '5', '5', '1', '8', '3', '10']

In [160]:
#scraping the tags for song name:
song_name = driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")

#Using for loop for iterations
#Handling Null Values.
for i in song_name:
    if i.text is None:
        Song_Name.append(" ") 
    else:
        Song_Name.append(i.text.replace('/','').strip())
print(Song_Name[0:10])

['Drivers License', 'Mood', 'Blinding Lights', '34+35', 'Levitating', 'Go Crazy', 'Positions', 'Save Your Tears', 'Holy', 'Whoopty']

In [161]:
#scraping the tags for singer:
singer = driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")

#Using for loop for iterations
#Handling Null Values.
for i in singer:
    if i.text is None:
        Singer.append(" ") 
    else:
        Singer.append(i.text.replace('/','').strip())
print(Singer[0:10])

['Olivia Rodrigo', '24kGoldn Featuring iann dior', 'The Weeknd', 'Ariana Grande', 'Dua Lipa Featuring DaBaby', 'Chris Brown & Young Thug', 'Ariana Grande', 'The Weeknd', 'Justin Bieber Featuring Chance The Rapper', 'CJ']

In [162]:
#scraping the tags for last week rank:
last_week_rank = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
#Using for loop for iterations
#Handling Null Values.
for i in last_week_rank:
    if i.text is None:
        Last_Week.append(" ") 
    else:
        Last_Week.append(i.text.replace('/','').strip())
print(Last_Week[0:10])

['1', '2', '3', '4', '5', '6', '7', '14', '8', '16']

In [163]:
#scraping the tags for week on board:
week_on_board = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")

#Using for loop for iterations
#Handling Null Values.
for i in week_on_board:
    if i.text is None:
        Weeks_on_board.append(" ") 
    else:
        Weeks_on_board.append(i.text.replace('/','').strip())
print(Weeks_on_board[0:10])

['4', '26', '61', '14', '18', '39', '15', '8', '20', '13']

In [165]:
#Defining a Dataframe:
Top_Song = pd.DataFrame([])
Top_Song['Rank'] = Rank[0:10]
Top_Song['Song_Name'] = Song_Name[0:10]
Top_Song['Singer'] = Singer[0:10]
Top_Song['Last_Week_Rank'] = Last_Week[0:10]
Top_Song['Weeks_on_board'] = Weeks_on_board[0:10]
Top_Song.head(10)

,Rank,Song_Name,Singer,Last_Week_Rank,Weeks_on_board
0,1,Drivers License,Olivia Rodrigo,1,4
1,1,Mood,24kGoldn Featuring iann dior,2,26
2,1,Blinding Lights,The Weeknd,3,61
3,2,34+35,Ariana Grande,4,14
4,5,Levitating,Dua Lipa Featuring DaBaby,5,18
5,5,Go Crazy,Chris Brown & Young Thug,6,39
6,1,Positions,Ariana Grande,7,15
7,8,Save Your Tears,The Weeknd,14,8
8,3,Holy,Justin Bieber Featuring Chance The Rapper,8,20
9,10,Whoopty,CJ,16,13

# Question No 7:

In [196]:
driver = webdriver.Chrome(r"C:\Users\MI Laptop\Downloads\chromedriver_win32\chromedriver.exe")

In [197]:
url_5 = "https://www.naukri.com/data-science-jobs?k=data%20science"

In [198]:
 driver.get(url_5)

In [199]:
#Creating Empty List:
Job_Title = []
Company_Name = []
Skill = []
Salary = []
Location = []

In [200]:
#scraping the tags for Job_Title:
job_Title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

#Using for loop for iterations
#Handling Null Values.
for i in job_Title:
    if i.text is None:
        Job_Title.append(" ") 
    else:
        Job_Title.append(i.text.replace('/','').strip())
print(Job_Title[0:10])

['Machine Learning-Python, AI  ML developer, Data Science', 'Data Science', 'Data Science', 'Data Science Engineer', 'Data Science Team Lead - Retail', 'Data Science - Team Lead (CRM)', 'BI Analyst ( Data Science )', 'Urgently Hiring Trainee - Data Science :: Hitech Isolutions LLP!!!!', 'Data Science Engineer - Java  Python  R Developer', 'Data Science']

In [201]:
#scraping the tags for Company_Name:
company_name = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

#Using for loop for iterations
#Handling Null Values.
for i in company_name:
    if i.text is None:
        Company_Name.append(" ") 
    else:
        Company_Name.append(i.text.replace('/','').strip())
print(Company_Name[0:10])

['Infomize Technologies', 'Capgemini Technology Services India Limited', 'Diverse Lynx', 'Everwell Health Solutions Pvt Ltd', 'Shell India Markets Private Limited', 'Shell India Markets Private Limited', 'American Bureau of Shipping', 'Hi-Tech iSolutions LLP', 'Intellicar Telematics Pvt Ltd', 'Cybage']

In [185]:
#scraping the tags for Skill:
skill = driver.find_elements_by_xpath("//ul[@class='tags has-description']")

#Using for loop for iterations
#Handling Null Values.
for i in skill:
    if i.text is None:
        Skill.append(" ") 
    else:
        Skill.append(i.text.replace('\n','').strip())
print(Skill[0:10])

['Data ProcessingIT SkillsJavaTensorflowArtificial IntelligenceNatural Language ProcessingData AnalysisData Extraction', 'IT SkillsPythonTestingData Sciencesoftware architecturedeep learningData analysisdata science', 'IT SkillsPythonData ScienceMachine LearningSupply chainData analysisPrototypeConsulting', 'IT SkillsPythonBig DataProduct managementComputer scienceData analysisData modelingHealthcare', 'Direct MarketingRFactor AnalysisTeam Management SkillsCustomer AnalyticsTime SeriesMarket Basket AnalysisMachine Learning', 'MicrostrategyBusiness objectsSAPSASTIBCOTeradataBusiness intelligencemicrosoft', 'Data Science', 'IT SkillsData ScienceMachine LearningStatistical programmingData analysisStatistical modelingSASdata science', 'Project ManagementArtificial IntelligencePerformance MetricsStudent EngagementSalesExecutionSenior ManagementPeople Management', 'Data Science3D PrintingMachine LearningBig Data AnalyticsSoftware DevelopmentArtificial IntelligenceInternet of Things -IOT']

In [203]:
#scraping the tags for Salary:
salary = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi salary']/span")

#Using for loop for iterations
#Handling Null Values.
for i in salary:
    if i.text is None:
        Salary.append(" ") 
    else:
        Salary.append(i.text.replace('\n','').strip())
print(Salary[0:10])

['2,00,000 - 7,00,000 PA.', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', '50,000 - 3,00,000 PA.', 'Not disclosed', 'Not disclosed']

In [204]:
#scraping the tags for Location:
location  = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")

#Using for loop for iterations
#Handling Null Values.
for i in location:
    if i.text is None:
        Location .append(" ") 
    else:
        Location .append(i.text.replace('\n','').strip())
print(Location [0:10])

['Ahmedabad', 'Chennai', 'Gurgaon', 'Bengaluru', 'Bengaluru', 'Bengaluru', 'Chennai', 'Ahmedabad', 'Bengaluru', 'Pune']

In [205]:
#Defining a Dataframe:
job = pd.DataFrame([])
job['Job_Title'] = Job_Title[0:10]
job['Skill'] = Skill[0:10]
job['Company_Name'] = Company_Name[0:10]
job['Salary'] = Salary[0:10]
job['Location'] = Location[0:10]
job.head(10)

,Job_Title,Skill,Company_Name,Salary,Location
0,"Machine Learning-Python, AI ML developer, Dat...",Data ProcessingIT SkillsJavaTensorflowArtifici...,Infomize Technologies,"2,00,000 - 7,00,000 PA.",Ahmedabad
1,Data Science,IT SkillsPythonTestingData Sciencesoftware arc...,Capgemini Technology Services India Limited,Not disclosed,Chennai
2,Data Science,IT SkillsPythonData ScienceMachine LearningSup...,Diverse Lynx,Not disclosed,Gurgaon
3,Data Science Engineer,IT SkillsPythonBig DataProduct managementCompu...,Everwell Health Solutions Pvt Ltd,Not disclosed,Bengaluru
4,Data Science Team Lead - Retail,Multivariate AnalysisData ScienceRFactor Analy...,Shell India Markets Private Limited,Not disclosed,Bengaluru
5,Data Science - Team Lead (CRM),Direct MarketingRFactor AnalysisTeam Managemen...,Shell India Markets Private Limited,Not disclosed,Bengaluru
6,BI Analyst ( Data Science ),MicrostrategyBusiness objectsSAPSASTIBCOTerada...,American Bureau of Shipping,Not disclosed,Chennai
7,Urgently Hiring Trainee - Data Science :: Hite...,Data Science,Hi-Tech iSolutions LLP,"50,000 - 3,00,000 PA.",Ahmedabad
8,Data Science Engineer - Java Python R Developer,Data ScienceJavaHiveRScalaSparkmachine learnin...,Intellicar Telematics Pvt Ltd,Not disclosed,Bengaluru
9,Data Science,IT SkillsData ScienceMachine LearningStatistic...,Cybage,Not disclosed,Pune

# Question No 8:

In [218]:
driver = webdriver.Chrome(r"C:\Users\MI Laptop\Downloads\chromedriver_win32\chromedriver.exe")

In [219]:
url_6 = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"

In [220]:
driver.get(url_6)

In [221]:
#Creating Empty List:
Book_name = []
Author_name = []
Volumes_sold = []
Publisher = []
Genre = []

In [222]:
#scraping the tags for Book_name 
book_name = driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]")
for i in book_name:
    if i.text is None :
        Book_name.append(" ") 
    else:
        Book_name.append(i.text.replace('\n','').strip())
print(Book_name[0:10])

['Da Vinci Code,The', 'Harry Potter and the Deathly Hallows', "Harry Potter and the Philosopher's Stone", 'Harry Potter and the Order of the Phoenix', 'Fifty Shades of Grey', 'Harry Potter and the Goblet of Fire', 'Harry Potter and the Chamber of Secrets', 'Harry Potter and the Prisoner of Azkaban', 'Angels and Demons', "Harry Potter and the Half-blood Prince:Children's Edition"]

In [223]:
#scraping the tags for Author_name 
author_name  = driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]")
for i in author_name:
    if i.text is None :
        Author_name.append("--") 
    else:
        Author_name.append(i.text.replace('\n','').strip())
print(Author_name[0:10])

['Brown, Dan', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'James, E. L.', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'Brown, Dan', 'Rowling, J.K.']

In [224]:
#scraping the tags for Publisher 
publisher  = driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[5]")
for i in publisher:
    if i.text is None :
        Publisher.append("--") 
    else:
        Publisher.append(i.text.replace('\n','').strip())
print(Publisher[0:10])

['Transworld', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Random House', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Transworld', 'Bloomsbury']

In [225]:
#scraping the tags for Volumes_sold  
volumes_sold   = driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[4]")
for i in volumes_sold:
    if i.text is None :
        Volumes_sold.append(" ") 
    else:
        Volumes_sold.append(i.text.replace('\n','').strip())
print(Volumes_sold[0:10])

['5,094,805', '4,475,152', '4,200,654', '4,179,479', '3,758,936', '3,583,215', '3,484,047', '3,377,906', '3,193,946', '2,950,264']

In [227]:
#scraping tags for Genre 
genere = driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[6]")
for i in genere:
    if i.text is None :
        Genre.append(" ") 
    else:
        Genre.append(i.text.replace('\n','').strip())
print(Genre[0:10])

['Crime, Thriller & Adventure', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Romance & Sagas', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Crime, Thriller & Adventure', "Children's Fiction"]

In [228]:
Book = pd.DataFrame([])
Book['Book_name'] = Book_name[0:10]
Book['Author_name'] = Author_name[0:10]
Book['Genre'] = Genre[0:10]
Book['Publisher'] = Publisher[0:10]
Book['Volumes_sold'] = Volumes_sold[0:10]
Book.head(10)

,Book_name,Author_name,Genre,Publisher,Volumes_sold
0,"Da Vinci Code,The","Brown, Dan","Crime, Thriller & Adventure",Transworld,"5,094,805"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.",Children's Fiction,Bloomsbury,"4,475,152"
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.",Children's Fiction,Bloomsbury,"4,200,654"
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",Children's Fiction,Bloomsbury,"4,179,479"
4,Fifty Shades of Grey,"James, E. L.",Romance & Sagas,Random House,"3,758,936"
5,Harry Potter and the Goblet of Fire,"Rowling, J.K.",Children's Fiction,Bloomsbury,"3,583,215"
6,Harry Potter and the Chamber of Secrets,"Rowling, J.K.",Children's Fiction,Bloomsbury,"3,484,047"
7,Harry Potter and the Prisoner of Azkaban,"Rowling, J.K.",Children's Fiction,Bloomsbury,"3,377,906"
8,Angels and Demons,"Brown, Dan","Crime, Thriller & Adventure",Transworld,"3,193,946"
9,Harry Potter and the Half-blood Prince:Childre...,"Rowling, J.K.",Children's Fiction,Bloomsbury,"2,950,264"

# Question No 9:

In [229]:
driver = webdriver.Chrome(r"C:\Users\MI Laptop\Downloads\chromedriver_win32\chromedriver.exe")

In [231]:
url_7 = "https://www.imdb.com/list/ls095964455/"

In [232]:
driver.get(url_7)

In [233]:
#Creating Empty List:
Name = []
Year_span = []
Genres = []
Run_time = []
Ratings = []
Votes = []

In [234]:
#scraping the tags for Name 
name = driver.find_elements_by_xpath("//div[@class='lister-item-content']/h3/a")
for i in name:
    if i.text is None :
        Name.append("--") 
    else:
        Name.append(i.text.replace('\n','').strip())
print(Name[0:10])

['Game of Thrones', 'Stranger Things', 'The Walking Dead', '13 Reasons Why', 'The 100', 'Orange Is the New Black', 'Riverdale', "Grey's Anatomy", 'The Flash', 'Arrow']

In [235]:
#scraping the tags Year_span 
year_span = driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
for i in year_span:
    if i.text is None :
        Year_span.append("--") 
    else:
        Year_span.append(i.text.replace('\n','').strip())
print(Year_span[0:10])

['(2011‚Äì2019)', '(2016‚Äì )', '(2010‚Äì )', '(2017‚Äì2020)', '(2014‚Äì2020)', '(2013‚Äì2019)', '(2017‚Äì )', '(2005‚Äì )', '(2014‚Äì )', '(2012‚Äì2020)']

In [236]:
#scraping the Genres 
genere = driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[5]")
for i in genere:
    if i.text is None :
        Genres.append("--") 
    else:
        Genres.append(i.text.replace('\n','').strip())
print(Genres[0:10])

['Action, Adventure, Drama', 'Drama, Fantasy, Horror', 'Drama, Horror, Thriller', 'Drama, Mystery, Thriller', 'Drama, Mystery, Sci-Fi', 'Comedy, Crime, Drama', 'Crime, Drama, Mystery', 'Drama, Romance', 'Action, Adventure, Drama', 'Action, Adventure, Crime']

In [237]:
#scraping the tags Run_time 
runtime = driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[3]")
for i in runtime:
    if i.text is None :
        Run_time.append("--") 
    else:
        Run_time.append(i.text)
print(Run_time[0:10])

['57 min', '51 min', '44 min', '60 min', '43 min', '59 min', '45 min', '41 min', '43 min', '42 min']

In [238]:
#scraping the tags Ratings 
ratings = driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
for i in ratings:
    if i.text is None :
        Ratings.append("--") 
    else:
        Ratings.append(i.text.replace('\n','').strip())
print(Ratings[0:10])

['9.3', '8.7', '8.2', '7.6', '7.6', '8.1', '6.9', '7.6', '7.7', '7.5']

In [239]:
#scraping the tags Votes 
votes = driver.find_elements_by_xpath("//div[@class='lister-item-content']/p[4]/span[2]")
for i in votes:
    if i.text is None :
        Votes.append("--") 
    else:
        Votes.append(i.text.replace('\n','').strip())
print(Votes[0:10])

['1,770,246', '822,412', '853,476', '256,213', '216,490', '278,925', '118,093', '250,973', '305,273', '407,639']

In [241]:
#Defining a Dataframe:
TV_Series = pd.DataFrame([])
TV_Series['Name'] = Name[0:10]
TV_Series['Year_span'] = Year_span[0:10]
TV_Series['Run_time'] = Run_time[0:10]
TV_Series['Genres'] = Genres[0:10]
TV_Series['Ratings'] = Ratings[0:10]
TV_Series['Votes'] = Votes[0:10]
TV_Series.head(10)

,Name,Year_span,Run_time,Genres,Ratings,Votes
0,Game of Thrones,(2011‚Äì2019),57 min,"Action, Adventure, Drama",9.3,"1,770,246"
1,Stranger Things,(2016‚Äì ),51 min,"Drama, Fantasy, Horror",8.7,"822,412"
2,The Walking Dead,(2010‚Äì ),44 min,"Drama, Horror, Thriller",8.2,"853,476"
3,13 Reasons Why,(2017‚Äì2020),60 min,"Drama, Mystery, Thriller",7.6,"256,213"
4,The 100,(2014‚Äì2020),43 min,"Drama, Mystery, Sci-Fi",7.6,"216,490"
5,Orange Is the New Black,(2013‚Äì2019),59 min,"Comedy, Crime, Drama",8.1,"278,925"
6,Riverdale,(2017‚Äì ),45 min,"Crime, Drama, Mystery",6.9,"118,093"
7,Grey's Anatomy,(2005‚Äì ),41 min,"Drama, Romance",7.6,"250,973"
8,The Flash,(2014‚Äì ),43 min,"Action, Adventure, Drama",7.7,"305,273"
9,Arrow,(2012‚Äì2020),42 min,"Action, Adventure, Crime",7.5,"407,639"

# Question No 10:

In [242]:
driver = webdriver.Chrome(r"C:\Users\MI Laptop\Downloads\chromedriver_win32\chromedriver.exe")

In [243]:
url_8 = "https://archive.ics.uci.edu/ml/index.php"

In [244]:
driver.get(url_8)

In [245]:
#Creating Empty List:
Dataset_Name = []
Data_Type = []
Task = []
Attribute_Type = []
No_of_Instances = []
No_of_Attribute = []
Year = []

In [246]:
#clicking the search button for locating datasets:
search_1 = driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]/a')   
search_1.click()

In [247]:
#scraping the Dataset_Name 
name = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
for i in name:
    if i.text is None :
        Dataset_Name.append("--") 
    else:
        Dataset_Name.append(i.text.replace('\n','').strip())
print(Dataset_Name[0:10])

['Abalone', 'Adult', 'Annealing', 'Anonymous Microsoft Web Data', 'Arrhythmia', 'Artificial Characters', 'Audiology (Original)', 'Audiology (Standardized)', 'Auto MPG', 'Automobile']

In [248]:
#scraping the Data_Type 
d_type=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
for i in d_type:
    if i.text is None :
        Data_Type.append(" ") 
    else:
        Data_Type.append(i.text.replace('\n','').strip())
print(Data_Type[0:10])

['Data Types', 'Multivariate', 'Multivariate', 'Multivariate', '', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate']

In [249]:
#scraping the tags for Task 
task = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
for i in task:
    if i.text is None :
        Task.append("--") 
    else:
        Task.append(i.text.replace('\n','').strip())
print(Task[0:10])

['Default Task', 'Classification', 'Classification', 'Classification', 'Recommender-Systems', 'Classification', 'Classification', 'Classification', 'Classification', 'Regression']

In [250]:
#scraping the Attribute_Type 
attributes = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
for i in attributes:
    if i.text is None :
        Attribute_Type.append("--") 
    else:
        Attribute_Type.append(i.text.replace('\n','').strip())
print(Attribute_Type[0:10])

['Attribute Types', 'Categorical, Integer, Real', 'Categorical, Integer', 'Categorical, Integer, Real', 'Categorical', 'Categorical, Integer, Real', 'Categorical, Integer, Real', 'Categorical', 'Categorical', 'Categorical, Real']

In [252]:
#scraping the No_of_Instances 
number_of_instances = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
for i in number_of_instances:
    if i.text is None :
        No_of_Instances.append("--") 
    else:
        No_of_Instances.append(i.text.replace('\n','').strip())
print(No_of_Instances[1:10])

['4177', '48842', '798', '37711', '452', '6000', '226', '226', '398']

In [254]:
#scraping the Year 
year = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p")
for i in year:
    if i.text is None :
        Year.append(" ") 
    else:
        Year.append(i.text)
print(Year[1:10])

['1995 ', '1996 ', ' ', '1998 ', '1998 ', '1992 ', '1987 ', '1992 ', '1993 ']

In [255]:
#Defining a Dataframe:
UCI=pd.DataFrame([])
UCI['Dataset_Name'] = Dataset_Name[1:100]
UCI['Data_Type'] = Data_Type[1:100]
UCI['Task'] = Task[1:100]
UCI['Attribute_Type'] = Attribute_Type[1:100]
UCI['No_of_Instances'] = No_of_Instances[1:100]
UCI['Year'] = Year[1:100]
UCI.head(10)

,Dataset_Name,Data_Type,Task,Attribute_Type,No_of_Instances,Year
0,Adult,Multivariate,Classification,"Categorical, Integer, Real",4177,1995
1,Annealing,Multivariate,Classification,"Categorical, Integer",48842,1996
2,Anonymous Microsoft Web Data,Multivariate,Classification,"Categorical, Integer, Real",798,
3,Arrhythmia,,Recommender-Systems,Categorical,37711,1998
4,Artificial Characters,Multivariate,Classification,"Categorical, Integer, Real",452,1998
5,Audiology (Original),Multivariate,Classification,"Categorical, Integer, Real",6000,1992
6,Audiology (Standardized),Multivariate,Classification,Categorical,226,1987
7,Auto MPG,Multivariate,Classification,Categorical,226,1992
8,Automobile,Multivariate,Regression,"Categorical, Real",398,1993
9,Badges,Multivariate,Regression,"Categorical, Integer, Real",205,1987